<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>The Catalina Wine Mixer</title>
</head>
<body>
  <main>
    <!-- LANDING PAGE -->
    <section class="landing-page-section">
      <h1>THE CATALINA WINE MIXER GAME</h1>
      <button class="startBtn">Start Game</button>
    </section>
    <!-- GAME SCREEN -->
    <section class="display-game-section hide">
      <div>
        <div>
          <h2>Player Score: <span id='playerScore'>0</span></h2>
        </div>
        <div>
          <h2>Time Left: <span id="countDownTimer">Get Ready!</span></h2>
        </div>
      </div>
      <div class="grid-wrapper">
        <div class="grid">
          <div class="characterDale"></div>
        </div>
      </div>
    </section>
  </main>
  <script src="/scripts/game-logic.js"></script>
</body>
</html>