<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Press+Start+2P&display=swap" rel="stylesheet">
  <title>The Catalina Wine Mixer</title>
</head>
<body>
  <main>
    <!-- LANDING PAGE -->
    <section class="landing-page-section">
      <h1>THE CATALINA WINE MIXER GAME</h1>
      <button class="startBtn">Start Game</button>
    </section>
    <!-- GAME SCREEN -->
    <section class="display-game-section hide">
      <div class="game-title">
        <h2>The 2022 Catalina Wine Mixer</h2>
      </div>
      <div class="hud-bar-section">
        <div class="player-score">
          <h2>Player Score: <span id='playerScore'>0</span></h2>
        </div>
        <div class="count-down-timer">
          <h2>Time Left: <span id="countDownTimer">Get Ready!</span></h2>
        </div>
        <div class="game-buttons">
          <button id="restartBtn">Restart Game</button>
        </div>
      </div>
      <div class="grid-wrapper">
        <div class="grid">
        </div>
      </div>
    </section>
    <!-- MINI GAMES -->
    <section class="mini-game-section hide">
      <div class="mini-game-grid-wrapper">
        <div class="mini-game-display">
          <h2>MINI GAME: Derek needs his numbers!</h2>
          <h3>Solve all the below questions to continue!</h3>
          <p class="mini-game-explanation">Derek needs to know how the day is going and is asking Brennan to give him some random calculations immediately or Randy will eat his ass!!!</p>
          <div class="questionBox">
            <p>What is 1 + 9 = <input id="questionOneAnswer" type='number' placeholder="Type Answer Here"><input type="submit"></p>
          </div>
          <div class="questionBox">
            <p>What is 3 * 5 = <input id="questionTwoAnswer" type='number' placeholder="Type Answer Here"><input type="submit"></p>
          </div>
          <div class="questionBox">
            <p>What is 20 / 4 = <input id="questionThreeAnswer" type='number' placeholder="Type Answer Here"><input type="submit"></p>
          </div>
          <div class="questionBox">
            <p>What is 100 / 10 = <input id="questionFourAnswer" type='number' placeholder="Type Answer Here"><input type="submit"></p>
          </div>
          <div class="questionBox">
            <p>What is 12 + 79 = <input id="questionFiveAnswer" type='number' placeholder="Type Answer Here"><input type="submit"></p>
          </div>
          
        </div>
      </div>
    </section>
  </main>
  <script src="/scripts/game-logic.js"></script>
</body>
</html>