<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Press+Start+2P&display=swap" rel="stylesheet">
  <title>The Catalina Wine Mixer</title>
</head>
<body>
  <main>
    <!-- LANDING PAGE -->
    <section class="landing-page-section">
      <h1>THE CATALINA WINE MIXER GAME</h1>
      <div class="character-selection">
        <div class="character-container">
          <div>
            <img src="/assets/images/brennan-profile-image.png" alt="">
          </div>
          <button class="startBtnBrennan">Start Game with Brennan</button>
        </div>
        <div class="character-container">
          <div>
            <img src="/assets/images/dale-profile-image.png" alt="">
          </div>
          <button class="startBtnDale">Start Game with Dale</button>
        </div>
      </div>
    </section>
    <!-- GAME SCREEN -->
    <section class="display-game-section hide">
      <div class="game-header-bar">
        <div class="game-title">
          <h2>The 2022 Catalina Wine Mixer</h2>
        </div>
        <div class="hud-bar-section">
          <div class="player-score">
            <h2>Player Score: <span id='playerScore'>0</span></h2>
          </div>
          <div class="count-down-timer">
            <h2>Time Left: <span id="countDownTimer">Get Ready!</span></h2>
          </div>
          <div class="game-buttons">
            <button id="restartBtn">Restart Game</button>
          </div>
        </div>
      </div>
      <div class="grid-wrapper">
        <div class="grid">
        </div>
      </div>
    </section>
    <!-- MINI GAMES -->
    <section class="mini-game-section hide">
      <div class="mini-game-grid-wrapper">
        <div class="mini-game-display">
          <h2>MINI GAME: Derek needs his numbers!</h2>
          <h3>Solve all the below questions to continue!</h3>
          <p class="mini-game-explanation">Derek needs to know how the day is going and is asking Brennan to give him some random calculations immediately or Randy will eat his ass!!!</p>
          <div class="questionBox">
            <p>What is 
              <span id="numOne">1</span> 
              + 
              <span id="numTwo">1</span> 
              = 
              <input id="questionOneAnswer" type='number' placeholder="Type Answer Here">
              <input type="submit" id="submitBtn">
              <span id="correctOne" class="hide">Correct</span>
              <span id="incorrectOne" class="hide">Wrong!</span>
            </p>
          </div>        
        </div>
      </div>
    </section>
  </main>
  <section class="lose-screen-section hide">
    <div>
      <h2>OH NO, YOU RAN OUT OF TIME AND RUINED THE CATALINA WINE MIXER!! :(</h2>
    </div>
    <div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/1iypuBzWzQc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>
      <p>Hint: Refresh the browser to play again</p>
    </div>
  </section>
  <section class="win-screen-section hide">
    <div>
      <h2>CONGRATULATIONS!! It's The Catalina Fucking Wine Mixer!</h2>
    </div>
    <div>
      <iframe width="560" height="315" src="https://www.youtube.com/watch?v=RGB8QgwxZqw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>
      <p>Hint: Refresh the browser to play again</p>
    </div>
  </section>
  <audio id="audio" class="hide" controls style="display:none">
    <source src="/assets/soundeffects/champagnecork.mp3" type="audio/mpeg"> Your browser does not support the audio element.
  </audio>
  <script src="/scripts/game-logic.js"></script>
</body>
</html>