* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 90vh;
  width: 90vw;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

/* BUTTONS */

.startBtn {
  padding: 10px 10px;
  background-color: green;
  color: #fff;
  margin-top: 30px;
  cursor: pointer;
}

.startBtn:hover {
  opacity: 0.7;
}

#restartBtn {
  padding: 10px 10px;
  background-color: red;
  color: #fff;
  cursor: pointer;
}

#restartBtn:hover {
  opacity: 0.5;
}

.landing-page-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px #000 solid;
  padding: 100px 30px;
}

.game-title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.hud-bar-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.hud-bar-section div {
  margin: 20px;
}

.grid-wrapper {
  width: 1000px;
  height: 600px;
}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  justify-content: center;
  border: 2px solid #000;
  background-color: #567d46;
}

.grid div {
  flex-grow: 1;
  padding: 70px;
  text-align: center;
  cursor: pointer;
  color: #fff;
}

.hide {
  display: none;
}

.champagneBottle {
  background-image: url(/assets/images/champagne-bottle.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
  left: 0px;
  top: 0px;
}

.characterDale {
  background-image: url(/assets/images/Dale.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
  left: 0px;
  top: 0px;
}