* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Press Start 2P', cursive;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* BUTTONS */

.startBtnDale {
  padding: 5px 10px;
  background-color: #fdfd96;
  color: #000;
  margin-top: 30px;
  cursor: pointer;
}

.startBtnBrennan {
  padding: 5px 10px;
  background-color: #800020;
  color: #fff;
  margin-top: 30px;
  cursor: pointer;
}

#restartBtn {
  padding: 5px 10px;
  background-color: red;
  color: #fff;
  cursor: pointer;
}

.newGameBtn {
  padding: 5px 10px;
  margin-top: 30px;
  background-color: green;
  color: #fff;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

.mobileBtn {
  padding: 5px 10px;
  margin-top: 10px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

/* END OF BUTTONS */

.landing-page-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px #000 solid;
  padding: 100px 30px;
  margin-top: 35px;
}

.display-game-section {
  padding-top: 50px;
  width: 90vw;
}

.game-title {
  display: flex;
  justify-content: center;
}

.character-selection {
  display: flex;
  justify-content: center;
}

.character-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.character-selection img {
  width: 200px;
  height: auto;

}

.game-header-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hud-bar-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.hud-bar-section div {
  margin: 20px;
}

.grid-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 400px;
  width: 1000px;
  justify-content: center;
  border: 2px solid #000;
  background-color: #567d46;
}

.grid div {
  width: 10%;
  height: 10%;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-size: contain;
}

.champagneBottle {
  background-image: url(/assets/images/champagne-bottle.png);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.characterDale {
  background-image: url(/assets/images/dale.png);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.characterBrennan {
  background-image: url(/assets/images/brennan.png);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/* MINI GAMES STYLING */

.mini-game-grid-wrapper {
  height: 600px;
}

.mini-game-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border: 2px solid #000;
  background-color: red;
  padding: 30px;
}

.mini-game-display h2 {
  margin: 20px;
}

.mini-game-explanation {
  margin: 20px 100px;
  text-align: center;
}

.game-lost {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */;
}

.lose-screen-section, .win-screen-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.lose-screen-section h2, p {
  margin: 25px 0;
}

.win-screen-section h2, p {
  margin: 25px 0;
}

.hide {
  display: none;
}