* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 90vh;
  width: 90vw;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.startBtn {
  padding: 10px 10px;
  background-color: green;
  color: #fff;
  margin-top: 30px;
}

.landing-page-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px #000 solid;
  padding: 100px 30px;
}

.grid-wrapper {
  width: 1000px;
  height: 600px;
  padding: 30px;
}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  justify-content: center;
  border: 2px solid #000;
}

.grid div {
  /* border: 1px solid lightgrey; */
  flex-grow: 1;
  height: 10%;
  width: 10%;
  padding: 70px;
  text-align: center;
  cursor: pointer;
  color: #fff;
}

.hide {
  display: none;
}

.character {
  width: 5%;
  height: 5%;
  background-image: url(/assets/images/running-man-businessman-fast-running-keyframe-animation-2d-cartoon-flat-sprite-game-profile-side-view-character-free-vector.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
  left: 0px;
  top: 0px;
  
}